@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Raleway:wght@400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

#status {
    font-weight: 500;
}

select {
    border: none;
}

.modalText {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.room-status-VACANT {
    font-weight: 500;
    color: green;
    float: right;
}

.room-status-OCCUPIED {
    font-weight: 500;
    color: darkviolet;
    float: right;
}

.room-status-RESERVED {
    font-weight: 500;
    color: grey;
    float: right;
}

.room-status-MAINTENANCE {
    font-weight: 500;
    color: red;
    float: right;
}

.btn-icon {
    width: 16px;
}

.search-wrapper {
    border: none;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    max-width: 320px;
    width: 220px;
    /*overflow: hidden;*/
    height: 40px;
}

.search-input {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    background-color: var(--search-bg);
    flex: 1;
    border: 1px solid var(--main-border-color);
    padding: 0 8px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.dark .search-input {
    border-color: var(--search-bg);
    color: #fff;
}

.location-btn {
    border: 1px solid var(--main-border-color);
    background-color: var(--button-bg-light);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .location-btn {
    border: none;
    background-color: var(--search-bg);
}

.dark .location-btn .btn-icon {
    color: #fff;
}

.search-btn {
    background-color: var(--buttons-color-primary);
    color: #fff;
    border: 1px solid var(--buttons-color-primary);
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 20px;
}

input#capacity {
    width: 160px;
}

.dark .search-btn {
    border: none;
}

.contact-actions {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.contact-actions span {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-right: 8px;
}

.dark .contact-actions span {
    color: #fff;
}

.contact-actions.socials .contact-link {
    color: #b9b9b9;
}

.contact-link {
    border: 1px solid var(--main-border-color);
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--buttons-color-primary);
    margin: 0 4px;
    flex-shrink: 0;
}

.filter-btn {
    background-color: transparent;
    border: 1px solid var(--main-border-color);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 8px 0 0;
    margin: 0 16px;
    color: var(--buttons-color-primary);
    position: relative;
}

.dark .filter-btn {
    border-color: var(--cards-area-bg);
    background-color: var(--cards-area-bg);
}

.filter-btn.more {
    padding: 0 12px;
}

.filter-btn.more span {
    color: var(--buttons-color-primary);
    padding: 0 4px;
}

.filter-btn.more span:before {
    display: none;
}

.filter-btn.more .filter-icon {
    background-color: transparent;
}

.filter-text {
    border: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    padding: 0 24px 0 8px;
    position: relative;
}

.filter-text:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dark .filter-text:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
}

.filter-icon {
    background-color: var(--buttons-color-secondary);
    border-radius: 50%;
    color: var(--buttons-color-primary);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-line-text {
    font-size: 14px;
    font-weight: 600;
    margin-right: 32px;
    color: var(--main-font-color);
}

.btn-close {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 0;
    color: #b9b9b9;
}

.hideModal {
    z-index: -1;
    opacity: 0;
    -webkit-animation: hide 0.25s;
    animation: hide 0.25s;
    transform: scale(0);
}

@-webkit-keyframes hide {
    from {
        z-index: 2;
        transform: scale(1);
        opacity: 1;
    }
    to {
        z-index: -1;
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes hide {
    from {
        z-index: 2;
        transform: scale(1);
        opacity: 1;
    }
    to {
        z-index: -1;
        transform: scale(0);
        opacity: 0;
    }
}

.showModal {
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 2;
    -webkit-animation: show 0.2s;
    animation: show 0.2s;
    transform: scale(1);
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 56px;
    background-color: var(--modal-before);
    width: 100%;
    height: 100%;
}

.modal-image-wrapper {
    border-radius: 20px;
    overflow: hidden;
    max-height: 50%;
    margin-bottom: 24px;
}

.modal-image-wrapper img {
    width: 100%;
    /* margin-bottom: 24px; */
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.modal-left {
    flex: 5;
    overflow-y: auto;
}


.modal-info-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-side h1 {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    color: var(--main-font-color);
}

.left-side p {
    color: var(--light-font-color);
    font-size: 16px;
    line-height: 24px;
}

.right-side {
    color: var(--main-font-color);
}

.right-side span {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}

.info-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info-wrapper span {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: var(--main-font-color);
}

.info-bar {
    display: flex;
    justify-content: space-between;
}

.info-icon {
    background-color: var(--buttons-color-secondary);
    border-radius: 50%;
    color: var(--buttons-color-primary);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    flex-shrink: 0;
}

.desc-wrapper .modal-info-header {
    margin-top: 24px;
    flex-direction: column;
}

.desc-wrapper h1 {
    font-size: 24px;
    margin: 0;
    line-height: 32px;
    color: var(--main-font-color);
}

.desc-wrapper p {
    color: var(--light-font-color);
}

.desc-actions {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.btn-book {
    background-color: var(--buttons-color-primary);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-right: 32px;
    padding: 10px;

    min-width: 120px;
}

.add-favourite {
    display: flex;
    align-items: center;
}

.add-favourite input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.add-favourite input:checked + label {
    color: var(--buttons-color-primary);
}

.add-favourite input:checked + label .btn-icon {
    transition: 0.2s;
    color: var(--buttons-color-primary);
    fill: var(--buttons-color-primary);
}

.add-favourite label {
    cursor: pointer;
    color: var(--light-font-color);
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.add-favourite label span {
    display: flex;
    margin-right: 4px;
}

.modal-right {
    background-color: var(--cards-area-bg);
    height: 100%;
    overflow-y: auto;
    border-radius: 20px;
    padding: 0 16px;
    flex: 3;
    max-width: 320px;
    margin-left: 16px;
}

.modal-right .card-wrapper {
    width: 100%;
    padding: 8px 0;
}

.modal-right .card > p {
    font-size: 12px;
    line-height: 16px;
    color: var(--light-font-color);
    margin: 0;
}

.modal-right .card {
    padding: 8px;
}

.modal-right .card:hover {
    transform: scale(1);
}

.modal-right .card .profile-info-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.modal-right .card .profile-info-wrapper p {
    font-size: 12px;
    line-height: 16px;
    color: var(--main-font-color);
    margin: 0;
    font-weight: 600;
}

.profile-img-wrapper {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid white;
}

.profile-img-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.contact-actions-wrapper {
    display: flex;
}

.filter-action-buttons {
    display: flex;
    overflow-x: auto;
    position: relative;
}

.filter-action-buttons button {
    margin-bottom: 4px;
}

.filter-line {
    align-items: flex-start;
}

@-webkit-keyframes show {
    from {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
    }
    to {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
    }
}

@keyframes show {
    from {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
    }
    to {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
    }
}