<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>

<div onclick='home()' id="text"></div>
<script th:src="@{webjars/jquery/3.7.0/dist/jquery.js}"></script>
<script src='../static/js/lib/TweenMax.min.js'></script>
<script th:inline="javascript">
    let string = /*[[${status}]]*/ 'default';
    let text = document.getElementById("text");
    string = string + "";
    string.split("");
    let i = 0, length = string.length;
    for (i; i < length; i++) {
        text.innerHTML += "<span class='letter-" + i + "'>" + string[i] + "</span>";
    }
    let elements = $('#text span').toArray();
    elements.sort(function () {
        return 0.5 - Math.random()
    });
    TweenMax.staggerTo(elements, 2, {
        textShadow: "0px 0 64px #222222,0 0 13px #222222,4px 1px 3px #222222, 4px -4px #222222, 4px 4px #222222, -4px -4px #222222",
        repeat: -1,
        yoyo: true
    }, 1);
</script>
<script>
    function home() {
        window.location.href = "/home";
    }
</script>
</body>
</html>
