<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Guests</title>
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@1.5.0/dist/vuetify.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        .v-card__text pa-3 {
            padding: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <section class="navigation">
        <a href="/_src/main/resources/static" class="logo-link">Grand Budapest</a>
        <div class="navigation-links">
            <a href="/home" class="nav-link">Home</a>
            <a href="/guests" class="nav-link active">Guests</a>
            <a href="/orders" class="nav-link">Orders</a>
            <a href="/checkin" class="nav-link">Reservation</a>
            <a href="/booking" class="nav-link">Booking</a>
            <a href="/available?roomStatus=VACANT" class="nav-link">Available</a>
        </div>
        <div class="nav-right-side">
            <button class="mode-switch">
                <svg class="sun feather feather-sun" fill="none" stroke="#fbb046" stroke-linecap="round"
                     stroke-linejoin="round" stroke-width="2"
                     viewBox="0 0 24 24">
                    <defs/>
                    <circle cx="12" cy="12" r="5"/>
                    <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
                </svg>
                <svg class="moon feather feather-moon" fill="none" stroke="#ffffff" stroke-linecap="round"
                     stroke-linejoin="round" stroke-width="2"
                     viewBox="0 0 24 24">
                    <defs/>
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/>
                </svg>
            </button>
            <button class="profile-btn">
                <span>Paul</span>
                <img src="https://avatars.githubusercontent.com/u/78595276?v=4" alt="cat">
            </button>
        </div>
    </section>
    <section class="app-actions">
        <div class="app-actions-line filter-line">
            <div class="filter-action-buttons">
                <button class="filter-btn">
                    <span class="filter-icon">
                        <svg class="btn-icon feather feather-book" xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"/>
                            <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"/>
                        </svg>
                    </span>
                    <label>
                        <input type="text" class="filter-text search-input" id="name" placeholder="Name"
                               onkeyup="handleKeyPressGuest(event)">
                    </label>
                </button>
                <button class="filter-btn more">
                    <span class="filter-icon">
                        <svg class="btn-icon feather feather-sliders" xmlns="http://www.w3.org/2000/svg" fill="none"
                             stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                            <path d="M4 21v-7M4 10V3M12 21v-9M12 8V3M20 21v-5M20 12V3M1 14h6M9 8h6M17 16h6"/>
                        </svg>
                    </span>
                    <label>
                        <select class="filter-text search-input" id="gender">
                            <option value="" selected hidden>Gender</option>
                            <option th:each="type : ${T(com.manager.hotel.model.enums.Gender).values()}"
                                    th:value="${type}"
                                    th:text="${type.name()}"></option>
                        </select>
                    </label>
                </button>
                <button class="filter-btn">
                    <span class="filter-icon">
                          <svg class="btn-icon feather feather-sliders" xmlns="http://www.w3.org/2000/svg" fill="none"
                               stroke="currentColor"
                               stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                            <path d="M4 21v-7M4 10V3M12 21v-9M12 8V3M20 21v-5M20 12V3M1 14h6M9 8h6M17 16h6"/>
                        </svg>
                    </span>
                    <label>
                        <select class="filter-text search-input" id="guestStatus">
                            <option value="" selected hidden>Status</option>
                            <option th:each="type : ${T(com.manager.hotel.model.enums.GuestStatus).values()}"
                                    th:value="${type}"
                                    th:text="${type.name()}"></option>
                        </select>
                    </label>
                </button>
                <button class="filter-btn">
                    <span class="filter-icon">
                        <svg class="btn-icon feather feather-book feather feather-calendar"
                             xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round">
                            <rect x="3"
                                  y="4"
                                  width="18"
                                  height="18"
                                  rx="2"
                                  ry="2"/>
                            <line x1="16" y1="2" x2="16" y2="6"/>
                            <line x1="8" y1="2" x2="8" y2="6"/>
                            <line x1="3"
                                  y1="10"
                                  x2="21"
                                  y2="10"/>
                        </svg>
                    </span>
                    <label for="checkIn">In:</label>
                    <input type="date" class="filter-text search-input" id="checkIn" placeholder="CheckIn"
                           onkeyup="handleKeyPressGuest(event)">
                </button>
                <button class="filter-btn">
                    <span class="filter-icon">
                        <svg class="btn-icon feather feather-book feather feather-calendar"
                             xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round">
                            <rect x="3"
                                  y="4"
                                  width="18"
                                  height="18"
                                  rx="2"
                                  ry="2"/>
                            <line x1="16" y1="2" x2="16" y2="6"/>
                            <line x1="8" y1="2" x2="8" y2="6"/>
                            <line x1="3"
                                  y1="10"
                                  x2="21"
                                  y2="10"/>
                        </svg>
                    </span>
                    <label for="checkOut">Out:</label>
                    <input type="date" class="filter-text search-input" id="checkOut" placeholder="CheckOut"
                           onkeyup="handleKeyPressGuest(event)">
                </button>
                <button class="filter-btn">
                    <span class="filter-icon">
                        <svg class="btn-icon feather feather-book feather feather-calendar"
                             xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round">
                            <rect x="3"
                                  y="4"
                                  width="18"
                                  height="18"
                                  rx="2"
                                  ry="2"/>
                            <line x1="16" y1="2" x2="16" y2="6"/>
                            <line x1="8" y1="2" x2="8" y2="6"/>
                            <line x1="3"
                                  y1="10"
                                  x2="21"
                                  y2="10"/>
                        </svg>
                    </span>
                    <label for="departure">Departure:</label>
                    <input type="date" class="filter-text search-input" id="departure"
                           onkeyup="handleKeyPressGuest(event)">
                </button>
                <button type="submit" class="search-btn" onclick="findGuests()">Find Guest</button>
            </div>
        </div>
    </section>
    <v-app id="inspire">
        <v-card-text class="pa-3">
            <v-toolbar flat color="white">
                <v-toolbar-title class="title font-weight-light mr-5">Today Reservations</v-toolbar-title>
                <template v-if="reservationSelected.length >= 1">
                    <v-btn color="success" dark class="mb-2">Confirm Selected</v-btn>
                    <v-btn color="error" dark class="mb-2">Cancel Selected</v-btn>
                </template>
                <v-spacer></v-spacer>
                <v-select label="Status" :items="['', 'RESERVED', 'OCCUPIED', 'VACANT', 'MAINTENANCE']"
                          v-model="status"></v-select>
            </v-toolbar>

            <v-data-table v-model="reservationSelected" :pagination.sync="pagination"
                          :headers="reservationSelectedHeaders" item-key="reservation_id" :items="combinedItems"
                          select-all class="">
                <template slot="items" slot-scope="props">
                    <td>
                        <v-checkbox color="secondary" v-model="props.selected" primary hide-details></v-checkbox>
                    </td>
                    <td>{{ props.item.passportData }}</td>
                    <td class="">
                        <v-chip small v-if="props.item.guestStatus === 'EARLY_DEPARTURE'" label color="grey lighten-1"
                                text-color="white">EARLY
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'CHECK_OUT'" label color="lime lighten-1"
                                text-color="white">CHECK_OUT
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'CHECK_IN'" label color="green lighten-1"
                                text-color="white">CHECK_IN
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'LOCK_OUT'" label color="yellow lighten-1"
                                text-color="white">LOCK_OUT
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'OCCUPIED'" label color="orange lighten-1"
                                text-color="white">OCCUPIED
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'RESERVED'" label color="purple lighten-1"
                                text-color="white">RESERVED
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'DEPARTED'" label color="indigo lighten-1"
                                text-color="white">DEPARTED
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'BOOKING'" label color="brown lighten-1"
                                text-color="white">BOOKING
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'ARRIVAL'" label color="teal lighten-1"
                                text-color="white">ARRIVAL
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'SKIPPER'" label color="black lighten-1"
                                text-color="white">SKIPPER
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'DND'" label color="blue lighten-1"
                                text-color="white">DND
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'FIT'" label color="cyan lighten-1"
                                text-color="white">FIT
                        </v-chip>
                        <v-chip small v-if="props.item.guestStatus === 'VIP'" label color="red lighten-1"
                                text-color="white">VIP
                        </v-chip>
                    <td class="">{{ props.item.roomsNumber }}</td>
                    <td class="">{{ props.item.checkIn.substring(0, 16) }}</td>
                    <td class="">{{ props.item.checkOut.substring(0, 16) }}</td>
                    <td class="">{{ props.item.departure.substring(0, 16) }}</td>
                    <td class="">{{ props.item.roomTypes }}</td>
                    <td class="">
                        <v-chip small v-if="props.item.roomStatuses === 'RESERVED'" label color="grey lighten-4"
                                text-color="grey darken-2">RESERVED
                        </v-chip>
                        <v-chip small v-if="props.item.roomStatuses === 'OCCUPIED'" label color="amber lighten-4"
                                text-color="amber darken-2">OCCUPIED
                        </v-chip>
                        <v-chip small v-if="props.item.roomStatuses === 'VACANT'" label color="light-green lighten-4"
                                text-color="light-green darken-2">VACANT
                        </v-chip>
                        <v-chip small v-if="props.item.roomStatuses === 'MAINTENANCE'" label color="red lighten-4"
                                text-color="red darken-2">MAINTENANCE
                        </v-chip>
                    </td>
                    <td class="">
                        <v-icon class="mr-2" color="success" @click="updateData(props.item.id)"> check_circle</v-icon>
                        <v-icon class="mr-2" color="error" @click="cancelData(props.item.id)"> cancel</v-icon>
                    </td>
                </template>
            </v-data-table>
        </v-card-text>
    </v-app>
</div>

<script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@1.5.0/dist/vuetify.min.js'></script>
<script th:inline="javascript">const guests = [[${guests}]];</script>
<script src="/js/find.js"></script>
<script src="/js/vue.js"></script>

<script type="module">
    export default {
        methods: {
            updateData(id) {
                let xhr = new XMLHttpRequest();
                xhr.open('PATCH', `/guests/${id}`);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log(`guest with id ${id} updated successfully!`);
                    } else {
                        console.error(`An error occurred while updating item with id ${id}: ${xhr.status}`);
                    }
                };
                xhr.send();
            },
            cancelData(id) {
                let xhr = new XMLHttpRequest();
                xhr.open('DELETE', `/guests/${id}`);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log(`guest with id ${id} deleted successfully!`);
                    } else {
                        console.error(`An error occurred while deleting item with id ${id}: ${xhr.status}`);
                    }
                };
                xhr.send();
            }
        }
    }
</script>
<script src="/js/find.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modeSwitch = document.querySelector('.mode-switch');

        modeSwitch.addEventListener('click', function () {
            document.documentElement.classList.toggle('dark');
        });
    });
</script>

</body>
</html>
