<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Manager</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Roboto:wght@400;500;600;700;900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="app-container">
    <section class="navigation">
        <a href="/home" class="logo-link">Grand Budapest</a>
        <div class="navigation-links">
            <a href="/home" class="nav-link active">Home</a>
            <a href="/rooms" class="nav-link">Rooms</a>
            <a href="/guests" class="nav-link">Guests</a>
            <a href="/search" class="nav-link">Search</a>
            <a href="/checkin" class="nav-link">CheckIn</a>
            <a href="/booking" class="nav-link">Booking</a>
            <a href="/rooms/vacant" class="nav-link">Available</a>
        </div>
        <div class="nav-right-side">
            <button class="mode-switch">
                <svg class="sun feather feather-sun" fill="none" stroke="#fbb046" stroke-linecap="round"
                     stroke-linejoin="round" stroke-width="2"
                     viewBox="0 0 24 24">
                    <defs/>
                    <circle cx="12" cy="12" r="5"/>
                    <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/>
                </svg>
                <svg class="moon feather feather-moon" fill="none" stroke="#ffffff" stroke-linecap="round"
                     stroke-linejoin="round" stroke-width="2"
                     viewBox="0 0 24 24">
                    <defs/>
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/>
                </svg>
            </button>
            <button class="profile-btn">
                <span>Paul</span>
                <img src="/img/ava.jpg" alt="avatar">
            </button>
        </div>
    </section>
    <section class="app-actions">
        <div class="app-actions-line filter-line">
            <div class="filter-action-buttons">
                <button class="filter-btn">
                    <span class="filter-icon">
                        <svg class="btn-icon feather feather-book" xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"/>
                            <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"/>
                        </svg>
                    </span>
                    <label>
                        <input type="number" class="filter-text search-input" id="capacity" placeholder="Rooms" min="0" max="5"  onkeyup="handleKeyPress(event)">
                    </label>
                </button>
                <button class="filter-btn">
                    <span class="filter-icon">
                        <svg class="btn-icon feather feather-map-pin" xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z"/>
                                    <circle cx="12" cy="10" r="3"/>
                        </svg>
                    </span>
                    <label>
                        <select class="filter-text search-input" id="roomStatus">
                            <option value="" selected hidden>Status</option>
                            <option th:each="type : ${T(com.manager.hotel.model.enums.RoomStatus).values()}"
                                    th:value="${type}"
                                    th:text="${type.name()}"></option>
                        </select>
                    </label>
                </button>
                <button class="filter-btn more">
                    <span class="filter-icon">
                        <svg class="btn-icon feather feather-sliders" xmlns="http://www.w3.org/2000/svg" fill="none"
                             stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                            <path d="M4 21v-7M4 10V3M12 21v-9M12 8V3M20 21v-5M20 12V3M1 14h6M9 8h6M17 16h6"/>
                        </svg>
                    </span>
                    <label>
                        <select class="filter-text search-input" id="roomType">
                            <option value="" selected hidden>Type</option>
                            <option th:each="type : ${T(com.manager.hotel.model.enums.RoomType).values()}"
                                    th:value="${type}"
                                    th:text="${type.name()}"></option>
                        </select>
                    </label>
                </button>
                <button type="submit" class="search-btn" onclick="findRooms()">Find Room</button>
            </div>
        </div>
    </section>
    <section class="app-main">
        <div class="app-main-left cards-area" th:if="${not #lists.isEmpty(rooms)}">
            <div th:each="room : ${rooms}" class="card-wrapper main-card">
                <a class="card cardItem" onclick="openModal()">
                    <div class="card-image-wrapper">
                        <img th:src="${room.path}" alt="room">
                    </div>
                    <div class="card-info">
                        <label><input class="card-id" type="hidden" th:value="${room.id}"></label>
                        <div class="card-text small type" th:class="'room-status-' + ${room.roomStatus}">
                            <span class="card-status" th:text="${room.roomStatus}"></span>
                        </div>
                        <div class="card-text big cardText-js" th:text="${room.roomType}"></div>
                        <div class="card-text small">
                            <span class="card-text small capacity" th:text="${room.getCapacity()}"></span>
                            Rooms:
                        </div>
                        <div class="card-text small">
                            Price:
                            <span class="card-price" th:text="'$' + ${room.getRoomType().getRate()}"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(rooms)}">
            <p>No rooms are available at the moment.</p>
        </div>
        <div id="latest-deals" class="app-main-right cards-area">
            <div class="app-main-right-header">
                <span>Latest Deals</span>
                <a href="/rooms">See More</a>
            </div>
        </div>
    </section>
</div>
<div id="modal-window" class="shadow">
    <div class="main-modal">
        <div class="modal-left">
            <label for="id"></label>
            <input class="modal-id" id="id" type="hidden">
            <div class="modal-image-wrapper">
                <img src="" alt="Room">
            </div>
            <div class="modal-info-header">
                <div class="left-side">
                    <h1 class="modalHeader-js"></h1>
                    <p class="modalText"></p>
                </div>
                <div class="right-side">
                    Starts from:
                    <span class="amount"></span>
                </div>
            </div>
            <div class="info-bar">
                <div class="info-wrapper">
                    <div class="info-icon">
                        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                            <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                        </svg>
                    </div>
                    <span class="modal-capacity"></span>
                </div>
                <div class="info-wrapper">
                    <div class="info-icon">
                        <svg class="btn-icon feather feather-wind" xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path
                                    d="M9.59 4.59A2 2 0 1 1 11 8H2m10.59 11.41A2 2 0 1 0 14 16H2m15.73-8.27A2.5 2.5 0 1 1 19.5 12H2"/>
                        </svg>
                    </div>
                    <span class="modal-bath"></span>
                </div>
                <div class="info-wrapper">
                    <div class="info-icon">
                        <svg class="btn-icon feather feather-square" xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round">
                            <rect x="3" y="3" width="18" height="18" rx="2" ry="2"/>
                        </svg>
                    </div>
                    <span class="modal-square"></span>
                </div>
                <div class="info-wrapper">
                    <div class="info-icon">
                        <svg class="btn-icon feather feather-shield" xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"/>
                        </svg>
                    </div>
                    <span>Highly Secured</span>
                </div>
            </div>
            <div class="desc-wrapper">
                <div class="modal-info-header">
                    <h1>Description</h1>
                    <p>
                        A double room is usually a room that has one bed meant for two people. The bed can either be a
                        queen or king-size bed. If you are traveling with your close friends and need to share a room,
                        book a twin room with two single beds.
                    </p>
                </div>
                <div class="desc-actions">
                    <button class="btn-book" onclick="booking()" id="bookButton">
                        Book Now
                    </button>
                    <div class="add-favourite">
                        <input type="checkbox" id="favourite">
                        <label for="favourite">
                             <span class="favourite-icon">
                                <svg class="btn-icon feather feather-heart" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
                                </svg>
                             </span>
                            <span>Add to favourites</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-right">
            <div class="app-main-right-header">
                <span>Reviews</span>
                <a href="#">See All</a>
            </div>
            <div th:each="guest: ${guests}" th:if="${not #strings.isEmpty(guest.feedback)}"
                 class="modal-profile-wrapper">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="profile-info-wrapper">
                            <div class="profile-img-wrapper">
                                <img th:src="@{'https://source.unsplash.com/random/600x400/?' + ${guest.gender} + ',face,' + ${guest.id}}"
                                     alt="Review">
                            </div>
                            <p th:text="${guest.passportData}"></p>
                        </div>
                        <p th:text="${guest.feedback}"></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-close" onclick="closeModal()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"/>
                <line x1="6" y1="6" x2="18" y2="18"/>
            </svg>
        </button>
    </div>
</div>
<script src="/js/find.js"></script>
<script src="/js/home.js"></script>

<script>
    document.querySelector('#modal-window').classList.add("hideModal");
</script>
</body>
</html>