<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Grand Budapest</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/dist/css/bootstrap.css}">
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
<div class="section">
    <div class="moving-image"></div>
    <ul class="case-study-wrapper">
        <li class="case-study-name">
            <a href="/rooms/1" class="hover-target">apartment</a>
        </li>
        <li class="case-study-name">
            <a href="/rooms/2" class="hover-target">deluxe</a>
        </li>
        <li class="case-study-name">
            <a href="/rooms/3" class="hover-target">studio</a>
        </li>
        <li class="case-study-name">
            <a href="/rooms/4" class="hover-target">cabana</a>
        </li>
    </ul>
    <ul class="case-study-images">
        <li>
            <img src="/img/room1.jpg" alt="">
            <p>suite apartment</p>
            <div class="info">
                <img src="/img/svg/1.svg" alt="">
                <img src="/img/svg/2.svg" alt="">
                <img src="/img/svg/3.svg" alt="">
                <img src="/img/svg/5.svg" alt="">
                <a href="/rooms/1" class="hover-target">full info</a>
            </div>
        </li>
        <li>
            <img src="/img/room2.jpg" alt="">
            <p>suite deluxe</p>
            <div class="info">
                <img src="/img/svg/1.svg" alt="">
                <img src="/img/svg/2.svg" alt="">
                <img src="/img/svg/3.svg" alt="">
                <img src="/img/svg/4.svg" alt="">
                <img src="/img/svg/6.svg" alt="">
                <a href="/rooms/2" class="hover-target">full info</a>
            </div>
        </li>
        <li>
            <img src="/img/room3.jpg" alt="">
            <p>suite studio</p>
            <div class="info">
                <img src="/img/svg/2.svg" alt="">
                <img src="/img/svg/3.svg" alt="">
                <img src="/img/svg/4.svg" alt="">
                <img src="/img/svg/5.svg" alt="">
                <a href="/rooms/3" class="hover-target">full info</a>
            </div>
        </li>
        <li>
            <img src="/img/room4.jpg" alt="">
            <p>suite cabana</p>
            <div class="info">
                <img src="/img/svg/2.svg" alt="">
                <img src="/img/svg/3.svg" alt="">
                <img src="/img/svg/4.svg" alt="">
                <img src="/img/svg/5.svg" alt="">
                <img src="/img/svg/6.svg" alt="">
                <a href="/rooms/4" class="hover-target">full info</a>
            </div>
        </li>
    </ul>
</div>
<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>

<a href="/home" class="link-to-portfolio hover-target" target=""></a>
<script th:src="@{webjars/jquery/3.7.0/dist/jquery.js}"></script>
<script src="/js/index.js"></script>
</body>
</html>
