<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room Gallery</title>
    <link rel="stylesheet" href="/css/rooms.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Borel&family=Raleway:wght@400;500;600;700;900&display=swap');
    </style>
</head>

<body>
<a href="/" class="logo-link">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Grand Budapest</a>
<div class="gallery">
    <main id="image-gallery" class="images" data-fancybox="gallery" data-caption=""></main>
    <footer id="gallery-pagination">
        <button id="btnPrevious">&larr; <span class="sr-only">Previous</span></button>
        <div>
            <div id="gallery-dots"></div>
            <span id="page"></span>
        </div>
        <button id="btnNext"><span class="sr-only">Next </span>&rarr;</button>
    </footer>
</div>
<div id="modal" class="modal">
    <img id="modal-content" class="modal-content" alt="">
    <button id="btnPrevious">&larr; <span class="sr-only">Previous</span></button>
    <button id="btnNext"><span class="sr-only">Next </span>&rarr;</button>
</div>

<script src="/js/rooms.js"></script>

</body>
</html>
